{
  "$schema": "https://opencode.ai/theme.json",
  "theme": {
    "accent": {
      "dark": "#{{theme.base0F}}",
      "light": "#{{theme.base07}}"
    },
    "background": {
      "dark": "#{{theme.base00}}",
      "light": "#{{theme.base06}}"
    },
    "backgroundElement": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base04}}"
    },
    "backgroundPanel": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "border": {
      "dark": "#{{theme.base02}}",
      "light": "#{{theme.base03}}"
    },
    "borderActive": {
      "dark": "#{{theme.base03}}",
      "light": "#{{theme.base02}}"
    },
    "borderSubtle": {
      "dark": "#{{theme.base02}}",
      "light": "#{{theme.base03}}"
    },
    "diffAdded": {
      "dark": "#{{theme.base0B}}",
      "light": "#{{theme.base0B}}"
    },
    "diffAddedBg": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "diffAddedLineNumberBg": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "diffContext": {
      "dark": "#{{theme.base03}}",
      "light": "#{{theme.base03}}"
    },
    "diffContextBg": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "diffHighlightAdded": {
      "dark": "#{{theme.base0B}}",
      "light": "#{{theme.base0B}}"
    },
    "diffHighlightRemoved": {
      "dark": "#{{theme.base08}}",
      "light": "#{{theme.base08}}"
    },
    "diffHunkHeader": {
      "dark": "#{{theme.base03}}",
      "light": "#{{theme.base03}}"
    },
    "diffLineNumber": {
      "dark": "#{{theme.base03}}",
      "light": "#{{theme.base04}}"
    },
    "diffRemoved": {
      "dark": "#{{theme.base08}}",
      "light": "#{{theme.base08}}"
    },
    "diffRemovedBg": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "diffRemovedLineNumberBg": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base05}}"
    },
    "error": {
      "dark": "#{{theme.base08}}",
      "light": "#{{theme.base08}}"
    },
    "info": {
      "dark": "#{{theme.base0C}}",
      "light": "#{{theme.base0F}}"
    },
    "markdownBlockQuote": {
      "dark": "#{{theme.base03}}",
      "light": "#{{theme.base01}}"
    },
    "markdownCode": {
      "dark": "#{{theme.base0B}}",
      "light": "#{{theme.base0B}}"
    },
    "markdownCodeBlock": {
      "dark": "#{{theme.base01}}",
      "light": "#{{theme.base00}}"
    },
    "markdownEmph": {
      "dark": "#{{theme.base0A}}",
      "light": "#{{theme.base09}}"
    },
    "markdownHeading": {
      "dark": "#{{theme.base0E}}",
      "light": "#{{theme.base0F}}"
    },
    "markdownHorizontalRule": {
      "dark": "#{{theme.base04}}",
      "light": "#{{theme.base03}}"
    },
    "markdownImage": {
      "dark": "#{{theme.base0D}}",
      "light": "#{{theme.base0D}}"
    },
    "markdownImageText": {
      "dark": "#{{theme.base0C}}",
      "light": "#{{theme.base07}}"
    },
    "markdownLink": {
      "dark": "#{{theme.base0D}}",
      "light": "#{{theme.base0D}}"
    },
    "markdownLinkText": {
      "dark": "#{{theme.base0C}}",
      "light": "#{{theme.base07}}"
    },
    "markdownListEnumeration": {
      "dark": "#{{theme.base0C}}",
      "light": "#{{theme.base07}}"
    },
    "markdownListItem": {
      "dark": "#{{theme.base0D}}",
      "light": "#{{theme.base0F}}"
    },
    "markdownStrong": {
      "dark": "#{{theme.base09}}",
      "light": "#{{theme.base0A}}"
    },
    "markdownText": {
      "dark": "#{{theme.base05}}",
      "light": "#{{theme.base00}}"
    },
    "primary": {
      "dark": "#{{theme.base0D}}",
      "light": "#{{theme.base0F}}"
    },
    "secondary": {
      "dark": "#{{theme.base0E}}",
      "light": "#{{theme.base0D}}"
    },
    "success": {
      "dark": "#{{theme.base0B}}",
      "light": "#{{theme.base0B}}"
    },
    "syntaxComment": {
      "dark": "#{{theme.base04}}",
      "light": "#{{theme.base03}}"
    },
    "syntaxFunction": {
      "dark": "#{{theme.base0D}}",
      "light": "#{{theme.base0C}}"
    },
    "syntaxKeyword": {
      "dark": "#{{theme.base0E}}",
      "light": "#{{theme.base0D}}"
    },
    "syntaxNumber": {
      "dark": "#{{theme.base09}}",
      "light": "#{{theme.base0E}}"
    },
    "syntaxOperator": {
      "dark": "#{{theme.base0C}}",
      "light": "#{{theme.base0D}}"
    },
    "syntaxPunctuation": {
      "dark": "#{{theme.base05}}",
      "light": "#{{theme.base00}}"
    },
    "syntaxString": {
      "dark": "#{{theme.base0B}}",
      "light": "#{{theme.base0B}}"
    },
    "syntaxType": {
      "dark": "#{{theme.base0A}}",
      "light": "#{{theme.base07}}"
    },
    "syntaxVariable": {
      "dark": "#{{theme.base07}}",
      "light": "#{{theme.base07}}"
    },
    "text": {
      "dark": "#{{theme.base05}}",
      "light": "#{{theme.base00}}"
    },
    "textMuted": {
      "dark": "#{{theme.base04}}",
      "light": "#{{theme.base01}}"
    },
    "warning": {
      "dark": "#{{theme.base0A}}",
      "light": "#{{theme.base0A}}"
    }
  }
}
