command_timeout = 3000
palette = "base16"

[directory]
read_only = " 󰌾"

[direnv]
disabled = false

[docker_context]
symbol = " "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = "  "

[git_status]
ahead = "⇡$count"
behind = "⇣$count"
deleted = "✘$count"
diverged = "⇕⇡$ahead_count⇣$behind_count"
ignore_submodules = true
modified = "!$count"
renamed = "»$count"
staged = "+$count"
stashed = '\$$count'
untracked = "?$count"

[golang]
symbol = "󰟓 "

[lua]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[palettes.base16]
base00 = "#{{theme.base00}}"
base01 = "#{{theme.base01}}"
base02 = "#{{theme.base02}}"
base03 = "#{{theme.base03}}"
base04 = "#{{theme.base04}}"
base05 = "#{{theme.base05}}"
base06 = "#{{theme.base06}}"
base07 = "#{{theme.base07}}"
base08 = "#{{theme.base08}}"
base09 = "#{{theme.base09}}"
base0a = "#{{theme.base0A}}"
base0b = "#{{theme.base0B}}"
base0c = "#{{theme.base0C}}"
base0d = "#{{theme.base0D}}"
base0e = "#{{theme.base0E}}"
base0f = "#{{theme.base0F}}"
base10 = "#{{theme.base00}}"
base11 = "#{{theme.base00}}"
base12 = "#{{theme.base08}}"
base13 = "#{{theme.base0A}}"
base14 = "#{{theme.base0B}}"
base15 = "#{{theme.base0C}}"
base16 = "#{{theme.base0D}}"
base17 = "#{{theme.base0E}}"
black = "#{{theme.base00}}"
blue = "#{{theme.base0D}}"
bright-black = "#{{theme.base03}}"
bright-blue = "#{{theme.base0D}}"
bright-cyan = "#{{theme.base0C}}"
bright-green = "#{{theme.base0B}}"
bright-magenta = "#{{theme.base0E}}"
bright-purple = "#{{theme.base0E}}"
bright-red = "#{{theme.base08}}"
bright-white = "#{{theme.base07}}"
bright-yellow = "#{{theme.base0A}}"
brown = "#{{theme.base0F}}"
cyan = "#{{theme.base0C}}"
green = "#{{theme.base0B}}"
magenta = "#{{theme.base0E}}"
orange = "#{{theme.base09}}"
purple = "#{{theme.base0E}}"
red = "#{{theme.base08}}"
white = "#{{theme.base05}}"
yellow = "#{{theme.base0A}}"
