%YAML 1.1
---
disableStartupPopups: true
git:
  diffRenderers:
  - command: difft --color=always
    type: extDiff
gui:
  nerdFontsVersion: '3'
  showNumstatInFilesView: true
  showRandomTip: false
  theme:
    activeBorderColor:
    - '#{{theme.base0D}}'
    - bold
    cherryPickedCommitBgColor:
    - '#{{theme.base02}}'
    cherryPickedCommitFgColor:
    - '#{{theme.base03}}'
    defaultFgColor:
    - '#{{theme.base05}}'
    inactiveBorderColor:
    - '#{{theme.base03}}'
    optionsTextColor:
    - '#{{theme.base06}}'
    searchingActiveBorderColor:
    - '#{{theme.base04}}'
    - bold
    selectedLineBgColor:
    - '#{{theme.base03}}'
    unstagedChangesColor:
    - '#{{theme.base08}}'
os:
  editPreset: nvim-remote
