auto_sync = true
enter_accept = true
invert = true
prefers_reduced_motion = true
sync_frequency = "1h"
workspaces = true

[daemon]
enabled = true
socket_path = "{{data}}/atuin/daemon.sock"
systemd_socket = false

[sync]
records = true
