background = {{theme.base00}}
cursor-color = {{theme.base05}}
foreground = {{theme.base05}}
palette = 0=#{{theme.base00}}
palette = 1=#{{theme.base08}}
palette = 2=#{{theme.base0B}}
palette = 3=#{{theme.base0A}}
palette = 4=#{{theme.base0D}}
palette = 5=#{{theme.base0E}}
palette = 6=#{{theme.base0C}}
palette = 7=#{{theme.base05}}
palette = 8=#{{theme.base03}}
palette = 9=#{{theme.base08}}
palette = 10=#{{theme.base0B}}
palette = 11=#{{theme.base0A}}
palette = 12=#{{theme.base0D}}
palette = 13=#{{theme.base0E}}
palette = 14=#{{theme.base0C}}
palette = 15=#{{theme.base07}}
selection-background = {{theme.base02}}
selection-foreground = {{theme.base05}}
